
#logo{

    height: 87px;
    width: 100px;
}


#loginRegisterButton{

    color: blue;
}

#modalBackground{

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.116);

}

#modalRegister{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 60%;
    background-color: white;
    box-shadow: rgba(128, 128, 128, 0.253);

}

#modalRegister > div{
    display: block;
    width: 50%;
  
    padding: 60px;
    background-color: rgba(194, 215, 255, 0.616);
    margin: 25px;

}